html,
body {
  min-height: 100vh;
  background: #000;
}

a {
  color: inherit;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

button {
  border: none;
}

figure {
  margin: 0;
}
