<!DOCTYPE html>
html
  head
    include partial/head
  body
    .developing 手機與平板正在開發中，請先使用 1200px 以上寬度設備瀏覽，謝謝！
    .bg-mask
    include module/card-case
    include partial/footer
    include partial/default-script
