.card-case-container
  .card-case
    h1.card-case__title-main Rex Tsou
    .card-case__btn-set.btn-set
      button.btn.btn--about(data-to="about", title="關於我")
        i.fa.fa-user(aria-hidden="true")
      button.btn.btn--ability(data-to="ability", title="專業能力")
        i.fa.fa-tasks(aria-hidden="true")
      button.btn.btn--blog(data-to="blog", title="網誌")
        i.fa.fa-paragraph(aria-hidden="true")
      button.btn.btn--works(data-to="works", title="作品集")
        i.fa.fa-code(aria-hidden="true")
    .card-case__material
    .card-case__cards.cards
      figure.cards__card.card.card--about(data-card="about")
        .card__content
      figure.cards__card.card.card--ability(data-card="ability")
        .card__content
      figure.cards__card.card.card--blog(data-card="blog")
        .card__content
          ul.list
            li.item
              a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
                h2.card__title 為了可能的聲音
            li.item
              a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
                h2.card__title 為了可能的聲音
            li.item
              a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
                h2.card__title 為了可能的聲音
            li.item
              a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
                h2.card__title 為了可能的聲音
            li.item
              a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
                h2.card__title 為了可能的聲音
      figure.cards__card.card.card--works(data-card="works")
        .card__content
