.card-case-container
  .card-case
    h1.card-case__title-main Rex Tsou
    .card-case__btn-set.btn-set
      button.btn.btn--about(data-to="about", title="關於我")
        img.icon(src="assets/icon/avatar.svg", alt="")
      button.btn.btn--skill(data-to="skill", title="專業能力")
        img.icon(src="assets/icon/star.svg", alt="")
      button.btn.btn--blog(data-to="blog", title="網誌")
        img.icon(src="assets/icon/edit.svg", alt="")
      button.btn.btn--works(data-to="works", title="作品集")
        img.icon(src="assets/icon/code-signs.svg", alt="")
    .card-case__material
    .card-case__cards.cards
      figure.cards__card.card.card--about(data-card="about")
        .card__content 曾任「#[a(href="https://reader.udn.com/reader/index", target="_blank", rel="noopener") udn 讀.書.人]」網站內容主編、「#[a(href="http://www.lemon.cx/zh-TW/", target="_blank", rel="noopener") 旅盟資訊]」前端工程師。優勢是理解使用者行為，目前專研畫面呈現及互動技術。喜歡挑戰未知，熱愛開源與去中心化理念，希望這世界因為我的貢獻，而有一點點不同。
      figure.cards__card.card.card--skill(data-card="skill")
        .card__content
          svg.skill
      figure.cards__card.card.card--blog(data-card="blog")
        .card__content
          a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
            h2.card__title 為了可能的聲音
      figure.cards__card.card.card--works(data-card="works")
        .card__content
