.card-case-container
  .card-case
    h1.card-case__title-main Rex Tsou
    .card-case__btn-set.btn-set
      button.btn.btn--about(data-to="about", title="關於我")
        img.icon(src="assets/icon/avatar.svg", alt="")
      button.btn.btn--skill(data-to="skill", title="專業能力")
        img.icon(src="assets/icon/star.svg", alt="")
      button.btn.btn--blog(data-to="blog", title="網誌")
        img.icon(src="assets/icon/edit.svg", alt="")
      button.btn.btn--works(data-to="works", title="作品集")
        img.icon(src="assets/icon/code-signs.svg", alt="")
    .card-case__material
    .card-case__cards.cards
      figure.cards__card.card.card--about(data-card="about")
        .card__content
      figure.cards__card.card.card--skill(data-card="skill")
        .card__content
          svg.skill
      figure.cards__card.card.card--blog(data-card="blog")
        .card__content
          a(href="https://akccakcctw.github.io/", target="_blank", rel="noopener")
            h2.card__title 為了可能的聲音
      figure.cards__card.card.card--works(data-card="works")
        .card__content
