script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js", integrity="sha256-/IeNFU9g1Tnj9pOKq3jGgIU2/kiKS+t1Q7pwym7mpoA=", crossorigin="anonymous")
script(src="js/bundle.js")
