meta(charset="UTF-8")
meta(name="description", content="website")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="author", content="Rex Tsou")
title rex-tsou.com
link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=", crossorigin="anonymous")

