$c-case--base: img-url('materials/silver.jpg');
$c-card--1: #A2AAB7;
$c-card--2: #CEB49B;
$c-card--3: #A9BEB7;
$c-card--4: rgb(199,
140,
143);
$c-card--5: #E1CA96;
$radius-default: 10px;
.card-case-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  margin-bottom: $h-footer;
  transition: 1s ease-in-out;
  &.is-active {
    .card-case {
      top: 0;
      left: 0;
      transform: translate(0);
    }
  }
}

.card-case {
  position: relative;
  display: flex;
  height: 230px;
  align-items: flex-end;
  border: 1px solid $c-base;
  border-radius: $radius-default;
  padding: 1em;
  color: $c-base;
  width: 80%;
  top: 50%;
  left: 50%;
  transition: all 1.6s ease-in-out, width 0s;
  transform: translate(-50%, -50%);
  @include for-tablet-portrait-up {
    width: 500px;
  }
  &__material {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: $c-case--base;
    border-radius: $radius-default;
  }
  &__title-main {
    position: absolute;
    z-index: 2;
    color: $c-grey;
    left: 15px;
    bottom: 0;
    margin: 15px;
    flex: 1;
    font-family: $f-title;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
  }
  &__btn-set {
    position: absolute;
    display: inline-block;
    width: 45px;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 15px;
    .btn {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: inset -2px -2px 2px $c-base, inset 1px 1px 2px $c-grey--light;
      font-size: 1.4em;
      color: $c-base;
      margin-bottom: 7px;
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      &--about {
        background-color: $c-card--1;
      }
      &--ability {
        background-color: $c-card--2;
      }
      &--blog {
        background-color: $c-card--3;
      }
      &--works {
        background-color: $c-card--4;
        .icon {
          width: 19px;
        }
      }
      .icon {
        width: 18px;
        transform: translate(-1px, -1px);
      }
    }
  }
  &__cards {
    z-index: -1;
    .card {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-radius: $radius-default;
    }
  }
}

.cards {
  z-index: -1;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 10px;
  &__card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: $radius-default;
    transition: .5s ease-in-out;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    &.is-hover {
      transform: translateX(35px);
    }
    &.is-taken {
      transform: translateX(100%);
      margin-left: 10px;
      max-height: none;
    }
  }
}

.card {
  min-height: 100%;
  height: auto;
  padding: .5rem 1rem;
  &__content {}
  &__title {
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.28;
    margin: .5rem auto;
    display: block;
    width: 100%;
  }
  &--about {
    background-image: linear-gradient(rgba($c-card--1, .75)), img-url('materials/paper.jpg');
  }
  &--ability {
    background: linear-gradient(rgba($c-card--2, .75)), img-url('materials/paper.jpg');
  }
  &--blog {
    background: linear-gradient(rgba($c-card--3, .75)), img-url('materials/paper.jpg');
  }
  &--works {
    background: linear-gradient(rgba($c-card--4, .75)), img-url('materials/paper.jpg');
  }
}
